name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Hoist version to manifest
        run: |
          version=${{ github.event.release.tag_name }}
          version=${version/v/}
          sed -i "s/\"version\": \"[^\"]*\"/\"version\": \"$version\"/" custom_components/floorplan/manifest.json

      - uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
